[Desktop Entry]
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[ru_RU]=Настроить модули LXDE-Qt
GenericName[ru_RU]=Настройка LxQt
Name[ru_RU]=Центр настроек LxQt
