[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[fr_FR]=Configurer les modules de LxQt-Qt
GenericName[fr_FR]=Configuration de LxQt
Name[fr_FR]=Centre de configuration de LxQt
Icon[fr_FR]=Préférences du système
