[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[uk]=Налаштувати модулі LxQt-Qt
GenericName[uk]=Налаштування LxQt
Name[uk]=Центр налаштувань LxQt
Icon[uk]=preferences-system
