[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_TW]=設定LxQt-qt模組
GenericName[zh_TW]=LxQt設定
Name[zh_TW]=LxQt設定中心
Icon[zh_TW]=系統偏好設定
