[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[pl_PL]=Konfiguruj moduły LxQt
GenericName[pl_PL]=Konfiguracja LxQt
Name[pl_PL]=Panel sterowania LxQt
Icon[pl_PL]=preferences-system
