[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[es]=Configura módulos de LxQt-Qt
GenericName[es]=Configuración LxQt
Name[es]=Centro de Configuración LxQt
Icon[es]=preferences-system
