[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[fi]=Hallitse LxQtin moduuleita
GenericName[fi]=LxQt-hallinta
Name[fi]=LxQtin hallintakeskus
Icon[fi]=asetukset-järjestelmä
