[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[de_DE]=LxQt-Qt-Module konfigurieren
GenericName[de_DE]=LxQt Konfiguration
Name[de_DE]=LxQt Konfigurationscenter
Icon[de_DE]=Einstellungen-System
