[Desktop Entry]
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[lt]=Konfigūruoti LXDE-Qt modulius
GenericName[lt]=LxQt konfigūracija
Name[lt]=LxQt konfigūravimo centras
