[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[cs_CZ]=Nastavit moduly LXDE-Qt
GenericName[cs_CZ]=Nastavení LxQtu
Name[cs_CZ]=Nastavení LxQtu
Icon[cs_CZ]=Nastavení systému
