[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[ru]=Центр настроек для модулей LxQt-Qt
GenericName[ru]=Центр настроек LxQt
Name[ru]=Центр настроек LxQt
Icon[ru]=предпочтение-системе
