[Desktop Entry]
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[it_IT]=Configura i moduli di LXDE-Qt
GenericName[it_IT]=Configurazione di LxQt
Name[it_IT]=Centro di configurazione di LxQt
