[Desktop Entry]
OnlyShowIn=LXDE;Razor;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-system
Name=Razor Configuration Center
Comment=Configure Razor-Qt modules
GenericName=Razor Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[sl]=Nastavitveni moduli za Razor
GenericName[sl]=Nastavitve
Name[sl]=Nastavitveno središče za Razor
Icon[sl]=preferences-system
