[Desktop Entry]
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LxQt-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[sl]=Nastavitveni moduli za LxQt
GenericName[sl]=Nastavitve
Name[sl]=Nastavitveno središče za LxQt
Icon[sl]=preferences-system
