[Desktop Entry]
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-system
Name=LxQt Configuration Center
Comment=Configure LXDE-Qt modules
GenericName=LxQt Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_TW]=設定LXDE-Qt模組
GenericName[zh_TW]=LxQt設定
Name[zh_TW]=LxQt設定中心
