Name[es]=Configuración del monitor
GenericName[es]=Configuración del monitor
Comment[es]=Configura la pantalla o los monitores conectados al computador
