# Translations
Comment[es]=Permite cambiar el brillo y el contraste del monitor
GenericName[es]=Configuración de Brillo y contraste LXQt
Name[es]=Configuración de Brillo y contraste LXQt
