Name[it]=Luminosità
GenericName[it]=Impostazioni luminosità e contrasto dello schermo
Comment[it]=Permette di cambiare la luminosità e il contrasto dello schermo
