[Desktop Entry]
Type=Application
Name=Monitor settings
GenericName=Monitor settings
Comment=Configure monitors
Exec=lxqt-config-monitor
Icon=display
Categories=Qt;Settings;HardwareSettings;DesktopSettings;LXQt;
OnlyShowIn=LXDE;LXQt;

#TRANSLATIONS_DIR=translations
