# Translations
Name[es]=Asociaciones de archivo
GenericName[es]=Define las asociaciones de archivo
Comment[es]=Define asociaciones entre tipos de archivo y los programas que los utilizan
