# Translations
Comment[ru]=Настроить приложения ассоциированные с известным типом файлв
GenericName[ru]=Настройки ассоциации файлов
Name[ru]=Ассоциация файлов