# Translations
Name[it]=Associazioni file
GenericName[it]=Impostare le associazioni file
Comment[it]=Impostare le associazioni file per le applicazioni installate
