# Translations
Comment[ru_RU]=Настроить приложения ассоциированные с известным типом файлв
GenericName[ru_RU]=Настройки ассоциации файлов
Name[ru_RU]=Ассоциация файлов