[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[eo]=Agordi aperon de LxQt-labortablo 
GenericName[eo]=Agordoj de apero de LxQt 
Name[eo]=Agordoj de apero de LxQt 
