# Translations
Comment[it_IT]=Configura l'aspetto del desktop LXQt
GenericName[it_IT]=Configurazione dell'aspetto di LXQt
Name[it_IT]=Configurazione dell'aspetto di LXQt
