# Translations
Comment[fr_FR]=Configurer l'apparence du bureau LxQt
GenericName[fr_FR]=Configuration de l'apparence de LxQt
Name[fr_FR]=Configuration de l'apparence de LxQt
