# Translations
Comment[ru_RU]=Настроить внешний вид рабочего стола LXQt
GenericName[ru_RU]=Настройка внешнего вида LXQt
Name[ru_RU]=Настройка внешнего вида LXQt
