# Translations
Comment[el_GR]=Διαμόρφωση εμφάνισης της επιφάνειας εργασίας LXQt
GenericName[el_GR]=Διαμόρφωση εμφάνισης LXQt
Name[el_GR]=Διαμόρφωση εμφάνισης LXQt
