# Translations
Comment[lt]=Konfigūruoti LXQt darbalaukio išvaizdą
GenericName[lt]=LXQt išvaizdos konfigūravimas
Name[lt]=LXQt išvaizdos konfigūravimas
