# Translations
Comment[it_IT]=Configura l'aspetto del desktop LxQt
GenericName[it_IT]=Configurazione dell'aspetto di LxQt
Name[it_IT]=Configurazione dell'aspetto di LxQt
