# Translations
Comment[ru_RU]=Настроить внешний вид рабочего стола LxQt
GenericName[ru_RU]=Настройка внешнего вида LxQt
Name[ru_RU]=Настройка внешнего вида LxQt
