# Translations
Comment[nl]=Configureer het uiterlijk van het LxQt bureaublad
GenericName[nl]=LxQt Uiterlijk Configuratie
Name[nl]=LxQt Uiterlijk Configuratie
