# Translations
Comment[es]=Configura el aspecto del escritorio LXQt
GenericName[es]=Configuración de Aspecto LXQt
Name[es]=Configuración de Aspecto LXQt
