# Translations
Comment[fr_FR]=Configurer l'apparence du bureau LXQt
GenericName[fr_FR]=Configuration de l'apparence de LXQt
Name[fr_FR]=Configuration de l'apparence de LXQt
