# Translations
Comment[lt]=Konfigūruoti LxQt darbalaukio išvaizdą
GenericName[lt]=LxQt išvaizdos konfigūravimas
Name[lt]=LxQt išvaizdos konfigūravimas
