# Translations
Comment[da_DK]=Indstil udseende på LxQt skrivebord
GenericName[da_DK]=Indstilling af LxQt Udseende
Name[da_DK]=Indstilling af LxQt Udseende
