[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_CN]=配置 LxQt 桌面的外观
GenericName[zh_CN]=LxQt 外观配置
Name[zh_CN]=LxQt 外观配置
