[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[da]=indstillinger-skrivebords-tema
Comment[da]=Indstilling af LxQt-Qt udseende
GenericName[da]=Indstilling af LxQt Udseende
Name[da]=Indstilling af LxQt Udseende
