[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[cs]=Nastavení vzhledu pracovní plochy
Comment[cs]=Nastavit vzhled pracovní plochy LxQt
GenericName[cs]=Nastavení vzhledu
Name[cs]=Nastavení vzhledu
