[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;Razor;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Comment[zh_TW]=自定LxQt桌面的外觀
GenericName[zh_TW]=LxQt外觀設定
Name[zh_TW]=LxQt外觀設定
