# Translations
Comment[el_GR]=Διαμόρφωση εμφάνισης της επιφάνειας εργασίας LxQt
GenericName[el_GR]=Διαμόρφωση εμφάνισης LxQt
Name[el_GR]=Διαμόρφωση εμφάνισης LxQt
