# Translations
Comment[pt_BR]=Configure a aparência da área de trabalho LxQt
GenericName[pt_BR]=Configuração da aparência do LxQt
Name[pt_BR]=Configuração da aparência do LxQt
