# Translations
Comment[de]=Einstellungen zum Aussehen von LXQt
GenericName[de]=LXQt Erscheinungsbildeinstellungen
Name[de]=LXQt Erscheinungsbildeinstellungen
