# Translations
Comment[da_DK]=Indstil udseende på LXQt skrivebord
GenericName[da_DK]=Indstilling af LXQt Udseende
Name[da_DK]=Indstilling af LXQt Udseende
