[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-appearance
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-theme
Name=LxQt Appearance Configuration
Comment=Configure appearance of LxQt desktop
GenericName=LxQt Appearance Configuration

#TRANSLATIONS_DIR=translations


# Translations
Icon[de_DE]=Einstellungen-Desktop-Thema
Comment[de_DE]=LxQt-Desktop Erscheinungsbild konfigurieren
GenericName[de_DE]=LxQt Erscheinungsbild Konfiguration
Name[de_DE]=LxQt Erscheinungsbild Konfiguration
