# Translations
Comment[de]=Einstellungen zum Aussehen der LXQt Arbeitsfläche
GenericName[de]=LXQt Erscheinungsbild Einstellungen
Name[de]=LXQt Erscheinungsbild Einstellungen
