# Translations
Comment[es]=Configura el aspecto del escritorio LxQt
GenericName[es]=Configuración de Aspecto LxQt
Name[es]=Configuración de Aspecto LxQt
