# Translations
Comment[es_VE]=Configurar apariencia del escritorio LxQt
GenericName[es_VE]=Configuración de apariencia de LxQt
Name[es_VE]=Configuración de apariencia de LxQt
