# Translations
Comment[de_DE]=LXQt-Desktop Erscheinungsbild konfigurieren
GenericName[de_DE]=LXQt Erscheinungsbild Konfiguration
Name[de_DE]=LXQt Erscheinungsbild Konfiguration
