# Translations
Comment[de_DE]=LxQt-Desktop Erscheinungsbild konfigurieren
GenericName[de_DE]=LxQt Erscheinungsbild Konfiguration
Name[de_DE]=LxQt Erscheinungsbild Konfiguration
