# Translations
Comment[de]=Einstellungen zum Aussehen der LxQt Arbeitsfläche
GenericName[de]=LxQt Erscheinungsbild Einstellunegn
Name[de]=LxQt Erscheinungsbild Einstellunegn
