# Translations
Name[it]=Tastiera e mouse
GenericName[it]=Configurazione dei dispositivi di immissione
Comment[it]=Configura tastiera, mouse e altri dispositivi di immissione


