[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;Razor;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;Razor;
Icon=preferences-desktop-mouse
Name=Razor Mouse Configurator
Comment=Configure X11 mouse
GenericName=Razor Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[pt]=Configurar rato
GenericName[pt]=Configuração do rato do Razor
Name[pt]=Configuração do rato do Razor
Icon[pt]=preferences-desktop-mouse
