[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[fr_FR]=Configurer la souris X11
GenericName[fr_FR]=Paramétreur de souris LxQt
Name[fr_FR]=Paramétreur de souris LxQt
Icon[fr_FR]=preferences-desktop-mouse
