[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[lt]=Konfigūruoti X11 pelę
GenericName[lt]=LxQt pelės konfigūravimas
Name[lt]=LxQt pelės konfigūravimas
Icon[lt]=preferences-desktop-mouse
