[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[el_GR]=Διαμόρφωση ποντικιού X11
GenericName[el_GR]=Διαμόρφωση ποντικιού LxQt
Name[el_GR]=Διαμόρφωση ποντικιού LxQt
Icon[el_GR]=preferences-desktop-mouse
