[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[th_TH]=ปรับแต่งเมาส์ X11
GenericName[th_TH]=ปรับแต่งเมาส์ LxQt
Name[th_TH]=ปรับแต่งเมาส์ LxQt
Icon[th_TH]=ค่าปรับแต่ง -เดสก์ท็อป-เมาส์
