[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[da_DK]=Indstil X11 mus
GenericName[da_DK]=Indstilling af LxQt mus
Name[da_DK]=Indstilling af LxQt mus
Icon[da_DK]=indstillinger-skrivebord-mus
