[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[it_IT]=Configura il mouse X11
GenericName[it_IT]=Strumento di configurazione del mouse di LxQt
Name[it_IT]=Strumento di configurazione del mouse di LxQt
Icon[it_IT]=preferences-desktop-mouse
