[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[ro_RO]=Configurează mausul X11
GenericName[ro_RO]=Configurare maus LxQt
Name[ro_RO]=Configurare maus LxQt
Icon[ro_RO]=preferences-desktop-mouse
