[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[pl]=Konfiguracja myszy w LXDE-Qt
GenericName[pl]=Ustawuenua myszy LXDE-Qt
Name[pl]=Ustawienia myszy LXDE-Qt
Icon[pl]=ustawienia-pulpit-mysz
