[Desktop Entry]
X-SuSE-translate=true
OnlyShowIn=LXDE;LxQt;
Type=Application
Exec=lxqt-config-mouse
Terminal=false
Categories=Settings;DesktopSettings;Qt;LxQt;
Icon=preferences-desktop-mouse
Name=LxQt Mouse Configurator
Comment=Configure X11 mouse
GenericName=LxQt Mouse Configurator

#TRANSLATIONS_DIR=translations


# Translations
Comment[sr]=Подесите Икс11 миш за Рејзор
GenericName[sr]=Подешавање миша
Name[sr]=Подешавање миша
